.footer-content {
  width: 100%;
  h3 {
    font-weight: 400;
    margin-bottom: 10px;
  }
  ul {
    padding: 0;
    font-size: 15px;
    margin-top: 20px;
    line-height: 2.1;
    li {
      color: $color-text-gray;
      list-style: none;
      font-weight: 400;
    }
    a {
      text-decoration: none;
      color: $color-text-gray;
      transition: all 300ms ease;
      &:hover {
        color: #000000;
        &:not(#mail) {
          padding-left: 20px;
          transform: all 200ms ease;
        }
      }
    }
  }
}
.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 29px;
  padding-top: 25px;
  border-top: 1px solid $color-border;
  font-weight: 400;
  flex-wrap: wrap;
  ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  p {
    color: #999999;
    span {
      font-weight: bold;
      color: black;
    }
  }
  a {
    text-decoration: none;
    color: #000000;
  }
  li {
    list-style: none;
    margin-right: 15px;
  }
  .footer-links {
    a:hover {
      color: #00ccff;
    }
  }
  .footer-lang {
    a {
      color: #8d9aa8;
      &:hover {
        color: $color-black;
      }
    }
  }
}
